.outline-box{
    margin: 30px;
}
.text-title{
    margin: 17px;
margin-top: 10px;
}
.button-email{
    margin-top: 18px;
    margin-top: 365px;
}
.title{
    margin-top: 5px;
    margin-bottom: 26px;
}
