.forgotpassword-image{
    width: 50%;
    margin: auto;
    margin-top: 75px;
}
.forgotpassword{
    opacity: 50%;
    text-align: center;
    margin-top: 45px;
}

.email-forgot{
    margin: 20px;
    opacity: 50%;
}
   