h2{
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}
.img-sendmoney{
    margin-top: 105px;
    /* display: flex; */
width: 200px;
    /* justify-content: center; */
    /* height: 270px; */
}