.welcome-backpage{
    background-color: #100D40;
}
.img1{
    width: 33%;
    margin-top: 70px;
    margin-left: 20px;
}
.img2{
    width: 33%;
    margin-top: 70px;
   
}
.img3{
    width: 20%;
    margin-top: 90px;
}
.welcome-backcontent{
    text-align: center;
    font-weight: 600;
}
.welcomeback-email{
    margin-left: 15px;
}
.welcome-para{
    text-align: center;
    opacity: 70%;
}
.welcome-span{
    font-weight:bold;
}