.paragraph{
    /* margin: 20px;     */
    text-align: center;
    opacity: 50%    ;
}


.delete-button{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
.log-out-button{
    border-style: solid;
  
}
.body-content{
    /* margin-left: 10px; */
    font-size: larger;
    text-align: center;
    margin-top: -30px;
    
}
